*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://images.unsplash.com/photo-1537530290513-1644669d51eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
}
.jumbotron{
    justify-content: center;

    font-weight: bold;
    margin: 50px;
    color: #fff;
    background-color: black;
    border-radius: 10px;
    text-align: center;
    opacity: 0.7;
    font-family: Roboto;
    
}
.fillup{
    
        background-color:brown;
        text-align: center;
        justify-content: center;
        width: 80%;
        height: 150px;
        margin-right: auto;
        margin-left: auto;
        opacity: 0.6;
        border-radius: 10px;
        color: blanchedalmond;
    }
#error-text{
 
        text-align: center;
        justify-content: center;
        color:white;
        text-transform: uppercase;
        width: 50%;
        margin-right: auto;
        margin-left: auto;
       
        text-transform: capitalize;
        
    
}
#fill{
   
        text-align: center;
        justify-content: center;
        color:white;
        width: 50%;
        
        padding: 7px;
        padding-top: 10px;
        margin-right: auto;
        margin-left: auto;
        height: 85px;
        font-family: Roboto;
        font-size: 20px;
}
.user-input{
    text-align: center;
    background-color: brown;
    padding: 10px;
    margin: 10px;
   border-radius: 10px;
    opacity: 0.7;
    color: white;
    font-size: 18px;
    font-family: Roboto;
}
#get-name{
    width: 65%;
    margin: 20px;
    padding: 6px;
    color: #FFF;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color:chocolate;
}
#get-name:hover{
background-color: blue;
}
.copyright{
    text-align: center;
    background-color: black;
    color: white;
   
    justify-content: center;
    opacity: 0.9;
    padding: 20px;
}
#displayName{
    text-align: center;
    background-color: brown;
    padding: 10px;
    margin: 10px;
   border-radius: 10px;
    opacity: 0.7;
    color: white;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
    .reset{
        margin-left: 30px;
        text-align:center;
    }
    #reset{
        width: 30%;
    margin: 20px;
    padding: 10px;
    color: #FFF;
    outline: none;
    opacity: 0.6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color:chocolate;

    }
    #reset:hover{
        background-color: darkblue;
    }
    





